<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>諮詢完成</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css')}}"
        />
    </head>

    <body>
        <h2>諮詢完成</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </body>
</html>